
#of,body{
            background-color:rgb(13, 66, 13);
            color:gold;
            align-content: center;
            margin:50px;
        }
        #me{
            text-align: left;
        }        
        button{
            background-image: linear-gradient(#17A9FD , rgb(79, 93, 219));
            color: aliceblue;
        }
        
      h2,h1{
            text-align-last: center;
    
        }
        #islam{
            height: 60px;
            scrollbar-highlight-color: cyan;
            color: white;
        }

        #and{
            text-align: justify;
            font-size:30px;
        }
        .left{
            margin:2opx;
            padding: 30px 10px 25px 10px;
        text-align: left;
        }
.center{
    text-align: center;
}
#in{
    background-color: rgb(4, 65, 17);
    text-align: left;
    color:rgb(240, 240, 234);
}
#out{
    background-color: rgb(4, 65, 17);
    color:rgb(235, 235, 230);
  
}
.center:hover{
    background-color: rgb(14, 141, 9);
    color: chartreuse;
}
footer{
    text-align: center;
    color: black
}
td,th{
    width: 400px;
    height: 3px;
    font-size: 20px;
    text-align: center;
}